.item {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 10px;
}
.statusRed {
  composes: status;
  background-color: red;
}
.statusGreen {
  composes: status;
  background-color: green;
}
.avatar {
  display: inline-block;
  margin-right: 10px;
  border-radius: 5px;
}
.name {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
}